<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Table</title>
</head>
<body>
<h1>Product List</h1>

<table>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>PRICE</th>
      <th>INV</th>
      <th>MAX</th>
      <th>MIN</th>
  </tr>

    <tr th:each="product :${products}">
        <td th:text="${product.id}">1</td>
        <td th:text="${product.name}">1</td>
        <td th:text="${product.price}">1</td>
        <td th:text="${product.inv}">1</td>
        <td th:text="${product.max}">1</td>
        <td th:text="${product.min}">1</td>
    </tr>
</table>
</body>
</html>