<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product Table</title>
</head>
<body>
<h1>Product List</h1>

<table>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>PRICE</th>
    <th>INV</th>
    <th>MAX</th>
    <th>MIN</th>
  </tr>
     <tr th:each="prod : ${products}">
          <td th:text="${prod.id}">Product ID</td>
          <td th:text="${prod.name}">Name</td>
          <td th:text="${prod.price}">1</td>
          <td th:text="${prod.inv}">1</td>
          <td th:text="${prod.max}">1</td>
          <td th:text="${prod.min}">1</td>
      </tr>
</table>

<a href="http://localhost:8080/productdetail"> Add Product</a>
</body>
</html>