<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Welcome Inventory</title>
</head>
<body>
<h1>Welcome to My Bicycle Shop!</h1>
<h2>Part List</h2>

<table>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>PRICE</th>
    <th>INV</th>
    <th>MAX</th>
    <th>MIN</th>
  </tr>
  <tr th:each="part :${parts}">
    <td th:text="${part.id}">1</td>
    <td th:text="${part.name}">1</td>
    <td th:text="${part.price}">1</td>
    <td th:text="${part.inv}">1</td>
    <td th:text="${part.max}">1</td>
    <td th:text="${part.min}">1</td>
  </tr>
</table>
<form action="http://localhost:8080/partdetail"><input type="submit" value="Insert New Part"></form>
<p><label>Update Part by ID:</label><input type="number" value="updatepart" /><input type="submit" value="Update"></p>
<form th:action="@{/send}" method="get">
  <label>Delete Part by ID:</label><input  th:name="doc" name="doc"></input>
  <button type="submit">Delete</button>
</form>
<!--<a href="http://localhost:8080/partdetail"> Add Part</a>-->


<h2>Product List</h2>

<table>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>PRICE</th>
    <th>INV</th>
    <th>MAX</th>
    <th>MIN</th>
  </tr>
  <tr th:each="prod : ${products}">
    <td th:text="${prod.id}">Product ID</td>
    <td th:text="${prod.name}">Name</td>
    <td th:text="${prod.price}">1</td>
    <td th:text="${prod.inv}">1</td>
    <td th:text="${prod.max}">1</td>
    <td th:text="${prod.min}">1</td>
  </tr>
</table>
<form action="http://localhost:8080/productdetail"><input type="submit" value="Insert New Product"></form>
<p><label>Update Product by ID:</label><input type="number" value="updateproduct" /><input type="submit" value="Update"></p>
<p><label>Delete Product by ID:</label><input type="number" value="deleteproduct" /><input type="submit" value="Delete"></p>
<!--<a href="http://localhost:8080/productdetail"> Add Product</a>-->
</body>
</html>